.chat {
  display: flex;
  align-items: center;
  height : 5vh;
  padding : 10px;
  cursor: pointer;
  background-color: #202c33;
  margin : 10px;
  border-radius: 8px;
  box-shadow: 15px 20px 33px -3px rgba(0, 0, 0, 0.84);
}

.chat > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height : 6vh;
}

.chat > div > section {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  width: 14vw;
}

.message-number {
 background-color: green;
 padding : 0 5px; 
 border-radius: 10px;
 display: flex;
 align-items: center;
 justify-self: center;
 font-size: 10px;
}