body {
  background-color: #0a1014;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  font-weight: 100;
}

nav {
  background-color: #202c33;
}

p {
  margin: 0;
}

input {
  border: none;
  outline: none;
  color: white;
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 50%;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #2a3942;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #555; 
} */
