@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

body {
  background-color: #0a1014;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

nav {
  background-color: #202c33;
}

p, h2 {
  margin: 0;
}

input {
  border: none;
  outline: none;
  color: white;
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 50%;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #2a3942;
}

.center-prompt{
  position: absolute;
  top : 0;
  display: flex;
  gap : 20px;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 90vh;
}

.center-prompt > section{
  width: 35vw;
  height: 30vh;
  background-color: #202c33;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.center-prompt > section > input{
  padding : 10px;
  background-color: #202c33;
  border: 1px solid rgba(255, 255, 255, 0.253);
  border-radius: 8px;
  width : 30vh;
}

.center-prompt > section > button{
  background-color: #202c33;
  border: 1px solid rgba(255, 255, 255, 0.253);
  color : white;
  padding : 5px 20px;
  border-radius: 8px;
  cursor: pointer;
}
